.klocki
{
    text-align: center;
    border: 3px solid black;
    background-color: #1a8cff;
    margin-left:10px;
    margin-top:10px;
    border-radius: 15px;
}
.klocki:hover
{
    background-color: #0080ff;
    cursor: pointer;
}

.bialo
{
    color:white;
    font-size: 27px;
}
.granica
{
    margin-top:20px;
}
.tak
{
    margin-top:100px;
}
.logaj
{
    color:white;
    font-size: 20px;
}
.logaj:hover
{
    color:#e6e6e6;
    text-decoration: none;
}
.logaj2
{

    color:white;
    background-color: #1a8cff;
}
.logaj2:hover
{
    background-color: #0080ff;
    color:white;
}
.firma_alert
{
    text-align: center;
    color:white;
    background-color: #1a8cff;
    border-radius: 15px;
}
.firma_center
{
    text-align:center;
}
.kontra_prawa
{
    text-align: left;
}
.kontra_prawa
{
    text-align: right;
}
.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px;
    color:#ccc;
}